<component name="ArtifactManager">
  <artifact type="jar" name="springboot.step.by.step:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/springboot_step_by_step_jar</output-path>
    <root id="archive" name="springboot.step.by.step.jar">
      <element id="module-output" name="springboot.step.by.step" />
    </root>
  </artifact>
</component>